* {
  box-sizing: border-box;
}

:root {
  --ftr-color: #fff;
  --link-color: #bfbfbf;
  --title-color: #fff;
  --red-title-color: #f67e7e;
  --text-color: #ffffff;
  --btn--bg-color: #2bd0d0;
  --add-title-color: #79c8c7;
}

:focus {
  outline: 3px dashed var(--red-title-color);
  outline-offset: 3px;
}

.site-footer__contact-link:focus {
  outline-color: #002529;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.5;
  font-family:"livvic", "Arial", sans-serif;
  color: var(--text-color);
  background-color: #014e56;
}

.container {
  width: 100%;
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}


  /* BUTTON */

.button {
  display: inline-block;
  text-decoration: none;
  border: 0;
  border-radius: 28px;
  border: 2px solid transparent;
  color: var(--ftr-color);
  background-color: transparent;
  cursor: pointer;
  white-space: nowrap;
}


  /* SITE HEADER STYLES */

.site-header__container {
  display: flex;
  align-items: center;
  padding-top: 73px;
  padding-bottom: 73px;
}


.site-header__icon-link {
  margin-right: 80px;
}

.icon-link {
  display: flex;
}

.icon-link__img {
  display: block;
  width: 160px;
  height: 40px;
  object-fit: contain;
}

.site-header__sitenav {
  margin-right: auto;
}

.sitenav__list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-right: 20px;
  list-style-type: none;
}

.sitenav__item {
  font-size: 18px;
  line-height: 28px;
}

.sitenav__item:not(:last-child) {
  margin-right: 40px;
}

.sitenav__link {
  display: inline-block;
  text-decoration: none;
  color: var(--text-color);
  transition: color 0.3s ease;
}

.sitenav__link:hover {
  color: var(--red-title-color);
}

.sitenav__link:active {
  opacity: 0.6;
}

.site-header__btn {
  border-color: var(--text-color);
  padding: 7px 30px 9px;
  font-size: 18px;
  line-height: 28px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.site-header__btn:hover {
  background-color: #fff;
  color: #002529;
}

.site-header__btn:active {
  opacity: 0.6;
}



  /* MIAN CONTENT */

.main-content {
  flex-grow: 1;
  background-image: url(../img/hero-bg-left.svg);
  background-repeat: no-repeat;
  background-position: calc(50% - 720px) 56px;
  background-size: 200px 200px;
}

.main-content__container {
  background-image: url(../img/hero-bg-bottom.svg);
  background-repeat: no-repeat;
  background-position: calc(50% + 376px) 406px;
  padding-top: 56px;
  padding-bottom: 250px;
}

.main-content__hero {
  justify-content: space-between;
}
.hero {
  display: flex;
}

.hero__title {
  width: 615px;
  margin: 0;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  color: var(--title-color);
}

.hero__title-red {
  display: inline-block;
  color: var(--red-title-color);
}

.hero__block {
  position: relative;
  width: 445px;
}

.hero__text {
  display: flex;
  margin: 0;
  margin-top: 85px;
  font-size: 18px;
  line-height: 28px;
}

.hero__text::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 50px;
  height: 4px;
  background-color: var(--add-title-color);
}

/* MAIN CONTENT TEAM */
.main-content__team--section {
  background-color: #012f34;
  background-image: url(../img/team--bg.svg);
  background-repeat: no-repeat;
  background-position: calc(50% + 720px) 440px;
}

.main__content-team {
  padding-top: 198px;
  padding-bottom: 140px;
  display: flex;
  justify-content: space-between;
}

.team__title--block {
  position: relative;
  width: 445px;
  margin-right: 20px;
}

.team__title {
  margin: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
}

.team__title::before {
  position: absolute;
  top: -58px;
  left: 0;
  width: 50px;
  height: 4px;
  background-color: var(--red-title-color);
  content: "";
}

.team__list {
  display: flex;
  width: 524px;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.team__item {
  display: flex;
  align-items: center;
}

.team__item:not(:last-child) {
  margin-bottom: 32px;
}

.team__img--block {
  position: relative;
  width: 56px;
  height: 56px;
  margin-right: 23px;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: #2c6269;
}

.team__img {
  position: absolute;
  top: -16px;
  left: -16px;
}

.team__item--title {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: var(--red-title-color);
}

.team__item--text {
  margin: 0;
  line-height: 25px;
}


/* FEATTURE */

.main-content__feature {
  background-color: #004047;
  background-image: url(../img/reviews-bg-left.svg);
  background-position: calc(50% - 647px) 0;
  background-repeat: no-repeat;
}


.feature {
  background-image: url(../img/reviews-bg-right.svg);
  background-repeat: no-repeat;
  background-position: calc(50% + 620px) calc(100% + 100px);
}

.feature__container {
  text-align: center;
  padding-top: 140px;
  padding-bottom: 140px;
}

.feature__title {
  margin-top: 0;
  margin-bottom: 56px;
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
}

.feature__title-span {
  display: inline-block;
  color: var(--add-title-color);
}

.feature__list {
  margin: 0px;
  display: flex;
  padding: 0;
  list-style-type: none;
}

.feature__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  padding-top: 36px;
  padding-bottom: 11px;
  background-image: url(../img/“.svg);
  background-repeat: no-repeat;
  background-position: calc(50%) 0;
}

.feature__item:not(:last-child) {
  margin-right: 30px;
}

.feature__item-text {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
}

.feature__item-title {
  margin-top: 0;
  margin-bottom: 2px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: var(--add-title-color);
}

.feature__item-commet {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 500;
  font-style: italic;
  font-size: 13px;
  line-height: 18px;
}

.feature__item-link {
  display: inline-flex;
  border-radius: 50%;
  width: 66px;
  height: 66px;
  margin-left: auto;
  margin-right: auto;
}

.feature__item-img {
  display: block;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  border: 2px solid #c4fffe;
}



              /* SITE ABOUT */

.about-content {
  flex-grow: 1;
}

.about-content__hero {
  background-image: url(../img/about-hero-bg.svg);
  background-repeat: no-repeat;
  background-position: calc(50% + 720px) 100%;
}

.about-content__hero-container {
  display: flex;
  padding-top: 47px;
  padding-bottom: 120px;
}

.about-hero__title {
  width: 350px;
  margin: 0;
  margin-right: 30px;
  flex-shrink: 0;
  font-weight: 700;
  font-size: 64px;
  line-height: 100px;
}

.about-hero__text {
  margin: 0;
  padding-top: 44px;
  font-size: 18px;
  line-height: 28px;
  position: relative;
}


.about-hero__text::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 4px;
  background-color: var(--red-title-color);
  content: "";
}

.about-feature {
  position: relative;
  padding-top: 140px;
  padding-bottom: 168px;
  background-color: #004047;
  background-image: url(../img/reviews-bg-left.svg);
  background-repeat: no-repeat;
  background-position: calc(50% + 646px) 100%;
}

.about-feature__bg-img {
  position: absolute;
  left: calc(50% - 820px);
  top: 0;
}

.about-feature__title {
  margin-top: 0;
  margin-bottom: 64px;
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
}

.about-feature__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-bottom: -76px;
}

.about-feature__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  padding: 32px 24px 56px;
  background-color: #012F34;
  margin-bottom: 76px;
}

.about-feature__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.about-feature__item-block {
  display: block;
  text-align: center;
}

.js-about-feature__item--active .about-feature__item-block {
  display: none;
}

.about-feature__item-none {
  display: none;
}

.js-about-feature__item--active .about-feature__item-none {
  display: block;
  text-align: center;
}

.js-about-feature__item--active .about-feature__item--link:hover {
  background-color: var(--red-title-color);
}


.about-feature__item-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #c4fffe;
  margin-bottom: 14px;
}

.about-feature__item--title {
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  color: #79c8c7;
}

.about-feature__item--active-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #79c8c7;
}

.about-feature__item--text {
  display: inline-block;
  font-style: italic;
  font-weight: 500;
  line-height: 25px;
}

.about-feature__item--active-text {
  max-width: 254px;
  margin-top: 0;
  margin-bottom: 24px;
  line-height: 25px;
}

.about-feature__item-icon-block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 17.7px;
}

.about-feature__item-icon-link {
  display: inline-flex;
  color: #fff;
  transition: color 0.3s ease;
}

.about-feature__item-icon-link:hover {
  color: var(--red-title-color);
}

/*
.about-feature__item-icon {
  display: block;
} */

.about-feature__item-icon-link:not(:last-child) {
  margin-right: 16px;
}

.about-feature__item--link {
  position: absolute;
  bottom: -28px;
  left: 147px;
  width: 56px;
  height: 56px;
  font-weight: 700;
  font-size: 30px;
  line-height: 48px;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 50%;
  color: #012f34;
  background-color: var(--red-title-color);
  transition: background-color 0.3s ease;
}

.about-feature__item--link:hover {
  background-color: #79c8c7;
}

.about-feature__item--link-plass {
  display: block;
}

.about-feature__item--link-minus {
  display: none;
}

.js-about-item-link--active {
  transform: rotate(45deg);
  background-color: #79c8c7;
}

.js-item-link--active .about-feature__item--link-plass {
  display: none;
}

.js-item-link--active .about-feature__item--link-minus {
  display: block;
}


/* CONTACK */
.contact-content {
  position: relative;
  flex-grow: 1;
  background-image: url(../img/contact___left-bg.svg);
  background-repeat: no-repeat;
  background-position: calc(50% + 720px) 100%;
}

.contact-content__container {
  display: flex;
  padding-top: 47px;
  padding-bottom: 120px;
}

.contact-hero__bg--img {
  position: absolute;
  top: 50px;
  left: calc(50% - 820px);
}


.contact-hero__content {
  width: 540px;
  margin-right: 30px;
}

.contact-hero__title {
  width: 350px;
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 64px;
  line-height: 100px;
}

.contact-hero__box--title {
  margin-top: 0;
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: var(--red-title-color);
}


.contact-hero__list {
  display: flex;
  width: 540px;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.contact-hero__item {
  display: flex;
  padding-left: 16px;
}

.contact-hero__item:not(:last-child) {
  margin-bottom: 24px;
}

.contact-hero__img--block {
  position: relative;
  width: 56px;
  height: 56px;
  margin-right: 23px;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: #2c6269;
}

.contact-hero__img {
  position: absolute;
  top: -16px;
  left: -16px;
}

.contact-hero__item--title {
  margin: 0;
  margin-top: 8px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}

.content-hero__form {
  width: 542px;
}

.contact-hero__input {
  display: block;
  width: 100%;
  padding: 0;
  padding-left: 15px;
  padding-bottom: 24px;
  border: 0;
  border-bottom: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
}

.error-message {
  position: relative;
  bottom: 15px;
  left: 15px;
  font-style: italic;
  font-weight: 700;
  font-size: 10px;
  line-height: 13px;
  color: var(--red-title-color);
  display: none;
}

.contact-hero__input:not(:last-child) {
  margin-bottom: 23px;
}

.contact-hero__input::placeholder {
  font-weight: 600;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.6);
}

.contact-hero__input:not(:focus):not(:placeholder-shown):invalid {
  border-color: var(--red-title-color);
  color: rgba(246, 126, 126, 0.6);
}

.contact-hero__input:not(:focus):not(:placeholder-shown):valid {
  border-color: var(--add-title-color);
}

.contact-hero__input:not(:focus):not(:placeholder-shown):invalid ~ .error-message {
  display: block;
}

textarea {
  max-width: 540px;
  min-height: 87px;
  margin-bottom: 24px;
}

.contact-hero__button {
  padding: 9px 32px 11px;
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  color: #004047;
  background-color: #fff;
  transition: border-color 0.3s ease, color 0.3s ease, background-color 0.3s ease;
}

.contact-hero__button:hover {
  border-color: #fff;
  color: #fff;
  background-color: transparent;
}

.contact-hero__button:active {
  opacity: 0.6;
}



                      /* FOOTER  */
.site-footer {
  background-color: var(--red-title-color);
}

.site-footer__top {
  background-image: url(../img/footer-top--bg.svg);
  background-repeat: no-repeat;
  background-position: calc(50% - 620px) 56px;
}
.site-footer__top-container {
  display: flex;
  padding-top: 76px;
  padding-bottom: 76px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 957px;
}

.site-footer__contact-title {
  margin: 0;
  margin-right: 20px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #012f34;
}

.site-footer__contact-link {
  display: inline-block;
  padding: 7px 33px 9px 32px;
  font-size: 18px;
  line-height: 28px;
  border-color: #012f34;
  color: #012f34;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.site-footer__contact-link:hover {
  background-color: #012f34;
  color: #fff;
}

.site-footer__contact-link:active {
  opacity: 0.6;
}

.about-content__icons {
  background-color: #012f34;
  background-image: url(../img/clients-circle.svg);
  background-repeat: no-repeat;
  background-position: calc(50% - 620px) 0;
}

.icons-block__container {
  padding-top: 140px;
  padding-bottom: 140px;
}

.icons-block__title {
  margin-top: 0;
  margin-bottom: 64px;
  text-align: center;
  font-size: 48px;
  line-height: 48px;
}

.icons-block__box {
  display: flex;
  align-items: flex-start;
}

.icons-block__icon-link {
  display: flex;
}

.icons-block__icon-link:not(:last-child) {
  margin-right: 80px;
}

.icons-block__icon-img {
  display: block;
}


/* FOOTER BOTTOM */
.site-footer__bottom {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #002529;
}

.site-footer__icon-link {
  display: inline-block;
  margin-bottom: 25px;
}


.sitenav__footer-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sitenav__footer-item:not(:last-child) {
  margin-right: 40px;
}
.sitenav__footer-link {
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  transition: color 0.3s ease;
}

.sitenav__footer-link:hover {
  color: var(--red-title-color);
}

.sitenav__footer-link:active {
  color: rgb(246, 126, 126, 0.6);
}

.footer-bottom__container {
  display: flex;
}

.footer-bottom__logo {
  margin-right: 125px;
}


.footer-bottom__navigation {
  display: flex;
  justify-content: space-between;
}

.footer-bottom__list {
  display: flex;
  width: 445px;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style-type: none;
  flex-grow: 1;
}

.footer-bottom__item {
  font-size: 15px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.6);
  flex-grow: 1;

}

.footer-bottom__authorship {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  margin-left: 125px;
}

.footer-bottom__author-link {
  display: inline-flex;
  margin-bottom: 51px;
}

.author-link__logo {
  display: inline-block;
  color: #fff;
  transition: color 0.3s ease;
}

.author-link__logo:not(:last-child) {
  margin-right: 16px;
}

.author-link__logo:hover {
  color: var(--red-title-color);
}

.author-link__logo:active {
  opacity: 0.6;
}

.author-link__logo-img {
  display: block;
}
.footer-bottom__author-text {
  color: rgba(255, 255, 255, 0.6);
  font-size: 15px;
  line-height: 25px;
  white-space: nowrap;
}